@import "tailwindcss";

@font-face {
  font-family: 'SANDOLL GOTHICNEO2';
  src: url('/fonts/SANDOLL GOTHICNEO2 04 MD.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SANDOLL GOTHICNEO2';
  src: url('/fonts/SANDOLL GOTHICNEO2 05 SB.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SANDOLL GOTHICNEO2';
  src: url('/fonts/SANDOLL GOTHICNEO2 06 BD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WANTEDSANSVARIABLE';
  src: url('/fonts/WANTEDSANSVARIABLE.TTF') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF;

}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  @media (prefers-color-scheme: light) {
    background: var(--color-gray-50);
  }
  @media (prefers-color-scheme: dark) {
    background: var(--color-gray-900);
  }
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  @media (prefers-color-scheme: light) {
    background: var(--color-gray-100);
  }
  @media (prefers-color-scheme: dark) {
    background: var(--color-gray-800);
  }
}

:root {
  --color-black: #1E2225;
  --color-white: #FFFFFF;

  --color-gray-900: #292F33;
  --color-gray-800: #3C4A52;
  --color-gray-700: #56636C;
  --color-gray-600: #6B7A83;
  --color-gray-500: #7A8994;
  --color-gray-400: #9AA7B0;
  --color-gray-300: #B4BDC3;
  --color-gray-200: #D1D6DA;
  --color-gray-100: #E8EBED;
  --color-gray-50: #F4F5F6;

  --color-mint-500: #0CDAE9;
  --color-blue-500: #3B74F4;
  --color-violet-500: #8251F5;
}

@theme inline {
  --color-background: var(--color-gray-50);
  --color-foreground: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: var(--color-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'WANTEDSANSVARIABLE', 'SANDOLL GOTHICNEO2', Arial, Helvetica, sans-serif;
}
